
*.exe
*.exp
*.lib
simple-transformer/MINDlarge_train
simple-transformer/MINDsmall_train
simple-transformer/user_history_embedding_l.pt
simple-transformer/user_history_embedding_s.pt
simple-transformer/results
simple-transformer/user_history_embedding.pt
simple-transformer/cu_transformer_extension.egg-info/PKG-INFO
simple-transformer/cu_transformer_extension.egg-info/SOURCES.txt
simple-transformer/cu_transformer_extension.egg-info/top_level.txt
simple-transformer/cu_transformer_extension.egg-info/dependency_links.txt
simple-transformer/CMakeLists.txt
simple-transformer/build/temp.win-amd64-cpython-312/Release/cu_transformer.obj
.vscode/settings.json
